.icon {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 0;
  overflow: hidden;


  &.logo {
    background-image: url('../img/svg/logo.svg');
    width: 32px;
    height: 32px;
  }

  &.triangle {
    background-image: url('../img/svg/triangle.svg');
    width: 9px;
    height: 9px;
  }

  &.search-light {
    background-image: url('../img/svg/search-light.svg');
    width: 20px;
    height: 20px;
    background-size: contain;
  }

  &.burger {
    background-image: url('../img/svg/burger.svg');
    width: 31px;
    height: 17px;
    background-size: contain;
  }

  &.be {
    background-image: url('../img/svg/be.svg');
    width: 16px;
    height: 10px;
  }

  &.instagram {
    background-image: url('../img/svg/insta.svg');
    width: 14px;
    height: 14px;
  }

  &.vk {
    background-image: url('../img/svg/vk.svg');
    width: 17px;
    height: 10px;
  }

  &.pinterest {
    background-image: url('../img/svg/pinterest.svg');
    width: 15px;
    height: 18px;
  }
}