@import 'mixins';
@import "variables";

@import 'normalize';
@import "reset";
@import "fonts";
@import 'icons';

@import 'swiper-bundle.min.scss';
@import 'fancybox';
@import 'fancybox-configs';
@import 'swiper-config';
@import "blocks/nav";
@import "blocks/footer";
@import "home";
@import "contact";
@import "maps";
@import "story";

html {
  scroll-behavior: smooth;
}

body {
  font-family: $basic_family;
  -webkit-font-smoothing: antialiased;

  // &.hidden {
  //   overflow: hidden;
  // }
}

button,
select {
  cursor: pointer;
  border-width: 0;

  @include block_767 {
    outline: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  line-height: 1.25;
}

.container {
  @media (min-width:1920px) {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.title {
  font-family: $forum_family;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.1;
  text-transform: uppercase;
  color: #353535;

  @include block_767 {
    font-size: 35px;
  }
}

.subtitle {
  font-family: $basic_family;
  font-size: 16px;
  line-height: 1.375;
  color: #000000;
}

.nav-area {
  padding-top: var(--nav-height);
}