.maps-slider {
  height: 736px;

  @include custom-media(1100px) {
    height: 559px;
  }

  @include block_767 {
    min-height: 100vh;
  }

  .swiper-pagination {
    left: 10px;
    right: auto;

    @include block_575 {
      display: none;
    }
  }

  .swiper-pagination-bullet {
    width: 19px;
    height: 1px;
    background-color: #fff;
    opacity: 1;
    border-radius: 0;
    transition: all 0.3s;

    &-active {
      width: 44px;
      height: 2px;

    }
  }
}

.maps-slider__container {
  position: relative;
}

.maps-slider-content {
  position: absolute;
  bottom: 63px;
  left: 95px;
  right: 95px;

  @include block_991 {
    bottom: 39px;
    left: 74px;
    right: 74px;
  }

  @include block_575 {
    bottom: 26px;
    left: 24px;
    right: 24px;
  }
}

.maps-slider-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  padding: 0 95px 63px;
  transition: all 1s;


  @include block_991 {
    padding: 26px 37px 39px 74px;
  }

  @include block_575 {
    padding: 26px 37px 26px 24px;
  }

  .container {
    transform: translateY(20px);
    opacity: 0;
    transition: all 0.9s;
  }

  &.swiper-slide-active {
    .container {
      z-index: 2;
      opacity: 1;
      transform: translateY(0);
    }
  }

  &::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-image: linear-gradient(87.58deg, rgba(0, 0, 0, 0.6) 20.99%, rgba(0, 0, 0, 0) 95.94%);
    z-index: 1;

    @include block_575 {
      background-image: linear-gradient(350.29deg, rgba(0, 0, 0, 0.6) 44.54%, rgba(0, 0, 0, 0) 88.85%);
    }
  }

  img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;

    &.maps-slider-link__img {
      position: relative;
      width: 31px;
      height: 31px;
      border-radius: 50%;
      border: 1px solid #000;
    }
  }
}

.maps-slider-text {
  position: relative;
  z-index: 2;
  width: 610px;
  max-width: 100%;
  color: #FFFFFF;
  font-family: $roboto_family;

  @include block_991 {
    width: 403px;
  }

  @include block_575 {
    width: auto;
  }
}

.maps-slider__title {
  font-size: 70px;
  line-height: 1;
  margin-bottom: 15px;

  @include block_1199 {
    // max-width: 352px;
  }

  @include block_991 {
    margin-bottom: 11px;
    font-size: 45px;
    line-height: 1.11;
    color: #FFFFFF;
  }

  @include block_575 {
    max-width: 100%;
  }
}

.map-slider__desc {
  max-width: 424px;
  font-size: 16px;
  line-height: 1.1875;
  color: #FFFFFF;
  margin-bottom: 14px;

  @include block_991 {
    max-width: 403px;
    margin-bottom: 10px;
  }

  @include block_575 {
    max-width: 344px;
    margin-bottom: 32px;
  }
}

.maps-slider-links {
  font-family: $roboto_family;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  color: #fff;

  @include block_575 {
    align-items: flex-start;
    gap: 20px;
    flex-direction: column;
  }
}

.maps-slider__link {
  position: relative;
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  min-width: 250px;
  font-family: $butler_family;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  transition: all 0.3s;
  z-index: 2;

  &:hover {
    background-color: #000;

    &::before {
      border-color: transparent transparent transparent #000;
    }
  }

  @include block_575 {
    display: none;
  }

  &::before {
    position: absolute;
    right: -11px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s;
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 11px;
    border-color: transparent transparent transparent rgba(0, 0, 0, 0.6);
  }
}

.follow-slider {
  padding-bottom: 23px;

  @include block_1199 {
    padding: 0 20px 23px;
  }

  @include block_767 {
    padding: 0 0 23px;
  }

  .swiper-slide {
    height: auto;

    @include block_575 {
      text-align: center;
    }
  }

  img {
    height: 304px;
    width: 304px;
    object-fit: cover;
  }
}